/* ===== FILE SELECTOR ===== */

.file-selector {
  text-align: center;
}

.file-input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.file-info {
  color: #666;
  font-style: italic;
}
